KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key

AWS_REGION=eu-west-3
AWS_PROFILE=default

S3_BRONZE_BUCKET=ohazard-data-bronze-dev
S3_SILVER_BUCKET=ohazard-data-silver-dev
S3_MODELS_BUCKET=ohazard-models-dev
